.container {
    height          : 400px;
    display         : flex;
    flex-direction  : column;
    gap             : 20px;
    justify-content : center;
    align-items     : center;
    text-align      : center;
    padding         : 30px;

    .title {
        max-width   : 400px;
        font-size   : 40px;
        font-weight : bold;
    }

    .text {
        font-size : 28px;
        max-width : 600px;
    }
}